<?xml version="1.0" encoding="utf-8"?>
<Content Key="faf3ea1a-bf87-44d3-b88c-e7b7aa629e18" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-08T16:00:45</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1829e19c-8ccc-4c2c-aec4-be49f739d98e">HomePage</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[78f6aa5d-f481-4321-a9aa-0796822dd7ee]]></Value>
    </form>
    <formTheme>
      <Value><![CDATA[bootstrap5-horizontal]]></Value>
    </formTheme>
    <nestedContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b1757ea1c1694ed3b9cb95833c531467"
      },
      {
        "contentUdi": "umb://element/e1aaae7aadc1483e8345c7f120f0ec1a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
      "moreNestedItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/619f6501e8b648b4b344498fce2c14b0"
            },
            {
              "contentUdi": "umb://element/cd6a575103234d3bba73db4a9cf45bdc"
            },
            {
              "contentUdi": "umb://element/579c319b986e44218f2fc1b42340af09"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
            "moreNestedItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3740fe16d73c48c9818e3dff8db3cf55"
                  },
                  {
                    "contentUdi": "umb://element/c55453fbbc2248e8902b322ee9607b7f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                  "moreNestedItems": {
                    "layout": {
                      "Umbraco.BlockList": [
                        {
                          "contentUdi": "umb://element/a681cb8b806a469db23a2a36257185f0"
                        }
                      ]
                    },
                    "contentData": [
                      {
                        "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                        "moreNestedItems": {
                          "layout": {
                            "Umbraco.BlockList": [
                              {
                                "contentUdi": "umb://element/5a2eb49b4e514f69bd18b13b4fb0737e"
                              }
                            ]
                          },
                          "contentData": [
                            {
                              "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                              "moreNestedItems": "",
                              "title": "Hello!!",
                              "udi": "umb://element/5a2eb49b4e514f69bd18b13b4fb0737e"
                            }
                          ],
                          "settingsData": []
                        },
                        "title": "Item Level 1 a a a",
                        "udi": "umb://element/a681cb8b806a469db23a2a36257185f0"
                      }
                    ],
                    "settingsData": []
                  },
                  "title": "Item Level 1 a a",
                  "udi": "umb://element/3740fe16d73c48c9818e3dff8db3cf55"
                },
                {
                  "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                  "moreNestedItems": "",
                  "title": "Item Level 1 a b",
                  "udi": "umb://element/c55453fbbc2248e8902b322ee9607b7f"
                }
              ],
              "settingsData": []
            },
            "title": "Item Level 1 a",
            "udi": "umb://element/619f6501e8b648b4b344498fce2c14b0"
          },
          {
            "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
            "moreNestedItems": "",
            "title": "Item Level 1 b",
            "udi": "umb://element/cd6a575103234d3bba73db4a9cf45bdc"
          },
          {
            "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
            "moreNestedItems": "",
            "title": "Item Level 1 c",
            "udi": "umb://element/579c319b986e44218f2fc1b42340af09"
          }
        ],
        "settingsData": []
      },
      "title": "Item Level 1",
      "udi": "umb://element/b1757ea1c1694ed3b9cb95833c531467"
    },
    {
      "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
      "moreNestedItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9a38ccc054964b61ab573552b6bda208"
            },
            {
              "contentUdi": "umb://element/d5dd5b0ff9ca4afdbacfeeee37c842dc"
            },
            {
              "contentUdi": "umb://element/0e28057b740d49b892b0453bad856889"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
            "moreNestedItems": "",
            "title": "Item Level 2 a",
            "udi": "umb://element/9a38ccc054964b61ab573552b6bda208"
          },
          {
            "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
            "moreNestedItems": "",
            "title": "Item Level 2 b",
            "udi": "umb://element/d5dd5b0ff9ca4afdbacfeeee37c842dc"
          },
          {
            "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
            "moreNestedItems": "",
            "title": "Item Level 2 c",
            "udi": "umb://element/0e28057b740d49b892b0453bad856889"
          }
        ],
        "settingsData": []
      },
      "title": "Item Level 2",
      "udi": "umb://element/e1aaae7aadc1483e8345c7f120f0ec1a"
    }
  ],
  "settingsData": []
}]]></Value>
    </nestedContent>
    <pageTitle>
      <Value><![CDATA[Hello Umbraco 13!]]></Value>
    </pageTitle>
    <spectrumColorPicker>
      <Value><![CDATA[#cd9508]]></Value>
    </spectrumColorPicker>
  </Properties>
</Content>