<?xml version="1.0" encoding="utf-8"?>
<Content Key="faf3ea1a-bf87-44d3-b88c-e7b7aa629e18" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-08T16:00:45</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1829e19c-8ccc-4c2c-aec4-be49f739d98e">HomePage</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[78f6aa5d-f481-4321-a9aa-0796822dd7ee]]></Value>
    </form>
    <formTheme>
      <Value><![CDATA[bootstrap5-horizontal]]></Value>
    </formTheme>
    <nestedContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
      "key": "b1757ea1-c169-4ed3-b9cb-95833c531467",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Item Level 1"
        },
        {
          "alias": "moreNestedItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                "key": "619f6501-e8b6-48b4-b344-498fce2c14b0",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item Level 1 a"
                  },
                  {
                    "alias": "moreNestedItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                          "key": "3740fe16-d73c-48c9-818e-3dff8db3cf55",
                          "udi": null,
                          "values": [
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Item Level 1 a a"
                            },
                            {
                              "alias": "moreNestedItems",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "contentData": [
                                  {
                                    "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                                    "key": "a681cb8b-806a-469d-b23a-2a36257185f0",
                                    "udi": null,
                                    "values": [
                                      {
                                        "alias": "title",
                                        "culture": null,
                                        "editorAlias": null,
                                        "segment": null,
                                        "value": "Item Level 1 a a a"
                                      },
                                      {
                                        "alias": "moreNestedItems",
                                        "culture": null,
                                        "editorAlias": null,
                                        "segment": null,
                                        "value": {
                                          "contentData": [
                                            {
                                              "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                                              "key": "5a2eb49b-4e51-4f69-bd18-b13b4fb0737e",
                                              "udi": null,
                                              "values": [
                                                {
                                                  "alias": "title",
                                                  "culture": null,
                                                  "editorAlias": null,
                                                  "segment": null,
                                                  "value": "Hello!!"
                                                },
                                                {
                                                  "alias": "moreNestedItems",
                                                  "culture": null,
                                                  "editorAlias": null,
                                                  "segment": null,
                                                  "value": ""
                                                }
                                              ]
                                            }
                                          ],
                                          "settingsData": [],
                                          "expose": [
                                            {
                                              "contentKey": "5a2eb49b-4e51-4f69-bd18-b13b4fb0737e",
                                              "culture": null,
                                              "segment": null
                                            }
                                          ],
                                          "Layout": {
                                            "Umbraco.BlockList": [
                                              {
                                                "contentKey": "5a2eb49b-4e51-4f69-bd18-b13b4fb0737e",
                                                "contentUdi": "umb://element/5a2eb49b4e514f69bd18b13b4fb0737e",
                                                "settingsKey": null,
                                                "settingsUdi": null
                                              }
                                            ]
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ],
                                "settingsData": [],
                                "expose": [
                                  {
                                    "contentKey": "a681cb8b-806a-469d-b23a-2a36257185f0",
                                    "culture": null,
                                    "segment": null
                                  }
                                ],
                                "Layout": {
                                  "Umbraco.BlockList": [
                                    {
                                      "contentKey": "a681cb8b-806a-469d-b23a-2a36257185f0",
                                      "contentUdi": "umb://element/a681cb8b806a469db23a2a36257185f0",
                                      "settingsKey": null,
                                      "settingsUdi": null
                                    }
                                  ]
                                }
                              }
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                          "key": "c55453fb-bc22-48e8-902b-322ee9607b7f",
                          "udi": null,
                          "values": [
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Item Level 1 a b"
                            },
                            {
                              "alias": "moreNestedItems",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "3740fe16-d73c-48c9-818e-3dff8db3cf55",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "c55453fb-bc22-48e8-902b-322ee9607b7f",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "3740fe16-d73c-48c9-818e-3dff8db3cf55",
                            "contentUdi": "umb://element/3740fe16d73c48c9818e3dff8db3cf55",
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "c55453fb-bc22-48e8-902b-322ee9607b7f",
                            "contentUdi": "umb://element/c55453fbbc2248e8902b322ee9607b7f",
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                "key": "cd6a5751-0323-4d3b-ba73-db4a9cf45bdc",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item Level 1 b"
                  },
                  {
                    "alias": "moreNestedItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                "key": "579c319b-986e-4421-8f2f-c1b42340af09",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item Level 1 c"
                  },
                  {
                    "alias": "moreNestedItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "619f6501-e8b6-48b4-b344-498fce2c14b0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cd6a5751-0323-4d3b-ba73-db4a9cf45bdc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "579c319b-986e-4421-8f2f-c1b42340af09",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "619f6501-e8b6-48b4-b344-498fce2c14b0",
                  "contentUdi": "umb://element/619f6501e8b648b4b344498fce2c14b0",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cd6a5751-0323-4d3b-ba73-db4a9cf45bdc",
                  "contentUdi": "umb://element/cd6a575103234d3bba73db4a9cf45bdc",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "579c319b-986e-4421-8f2f-c1b42340af09",
                  "contentUdi": "umb://element/579c319b986e44218f2fc1b42340af09",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
      "key": "e1aaae7a-adc1-483e-8345-c7f120f0ec1a",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Item Level 2"
        },
        {
          "alias": "moreNestedItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                "key": "9a38ccc0-5496-4b61-ab57-3552b6bda208",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item Level 2 a"
                  },
                  {
                    "alias": "moreNestedItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                "key": "d5dd5b0f-f9ca-4afd-bacf-eeee37c842dc",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item Level 2 b"
                  },
                  {
                    "alias": "moreNestedItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "6a6ee17e-55ba-44d6-8a4c-e2348e2dd9e8",
                "key": "0e28057b-740d-49b8-92b0-453bad856889",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item Level 2 c"
                  },
                  {
                    "alias": "moreNestedItems",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9a38ccc0-5496-4b61-ab57-3552b6bda208",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d5dd5b0f-f9ca-4afd-bacf-eeee37c842dc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0e28057b-740d-49b8-92b0-453bad856889",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "9a38ccc0-5496-4b61-ab57-3552b6bda208",
                  "contentUdi": "umb://element/9a38ccc054964b61ab573552b6bda208",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d5dd5b0f-f9ca-4afd-bacf-eeee37c842dc",
                  "contentUdi": "umb://element/d5dd5b0ff9ca4afdbacfeeee37c842dc",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0e28057b-740d-49b8-92b0-453bad856889",
                  "contentUdi": "umb://element/0e28057b740d49b892b0453bad856889",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b1757ea1-c169-4ed3-b9cb-95833c531467",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e1aaae7a-adc1-483e-8345-c7f120f0ec1a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b1757ea1-c169-4ed3-b9cb-95833c531467",
        "contentUdi": "umb://element/b1757ea1c1694ed3b9cb95833c531467",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e1aaae7a-adc1-483e-8345-c7f120f0ec1a",
        "contentUdi": "umb://element/e1aaae7aadc1483e8345c7f120f0ec1a",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </nestedContent>
    <pageTitle>
      <Value><![CDATA[Hello Umbraco 15!]]></Value>
    </pageTitle>
    <spectrumColorPicker>
      <Value><![CDATA[#c20839]]></Value>
    </spectrumColorPicker>
  </Properties>
</Content>