<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a935e80-7ace-4aeb-9e53-7d18e00e50f9" Alias="Home Page - Spectrum Color Picker - Spectrum Color Picker" Level="1">
  <Info>
    <Name>Home Page - Spectrum Color Picker - Spectrum Color Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>