<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe6dee0c-56ec-48c9-b301-d929d38ee69f" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1829e19c-8ccc-4c2c-aec4-be49f739d98e">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fb861852-7650-4561-8ece-a0cb10ae886a</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>1fe28e9e-d170-4be2-b181-ba5c148dc682</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Using Umbraco Forms]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="packageProperties">Package Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec4203a7-65ae-4c6f-a8ed-2a2c040d822d</Key>
      <Name>Form Theme</Name>
      <Alias>formTheme</Alias>
      <Definition>cc978f22-4421-4d3c-b07b-262933599538</Definition>
      <Type>UmbracoForms.ThemePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="packageProperties">Package Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a3f13874-7c23-4c83-bb06-48f8fd84a5f8</Key>
      <Name>Nested Content</Name>
      <Alias>nestedContent</Alias>
      <Definition>020ac8b9-65b4-47bf-ba90-951709dd22ee</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="umbracoCMSProperties">Umbraco CMS Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>416c1b32-500d-4355-a6f1-6270fbaa1fdc</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbracoCMSProperties">Umbraco CMS Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ba6c034-b5e2-44aa-9877-7938a64362cb</Key>
      <Name>Background Colour</Name>
      <Alias>spectrumColorPicker</Alias>
      <Definition>3a935e80-7ace-4aeb-9e53-7d18e00e50f9</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Using Spectrum Color Picker by Robert Foster]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="packageProperties">Package Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Umbraco CMS Properties</Caption>
      <SortOrder>0</SortOrder>
      <Alias>umbracoCMSProperties</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Package Properties</Caption>
      <SortOrder>1</SortOrder>
      <Alias>packageProperties</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>