<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee8d6cb2-f1a6-40f9-8ee4-dccbcac8b1d8" Alias="Contact Page - Form - Form Picker" Level="1">
  <Info>
    <Name>Contact Page - Form - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>UmbracoForms.FormPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowedForms": null
}]]></Config>
</DataType>