<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1fe28e9e-d170-4be2-b181-ba5c148dc682" Alias="Home Page - Form - Form Picker" Level="1">
  <Info>
    <Name>Home Page - Form - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>