<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc978f22-4421-4d3c-b07b-262933599538" Alias="Forms Theme Picker" Level="1">
  <Info>
    <Name>Forms Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>